#populate {
	
}

.folks {
	margin-top: 15px;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: space-between;
}

li {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	list-style: none;
}

ul {
	display: flex;
	justify-content: space-around;
}

#images{
	display: flex;
	align-items: space-between;
	justify-content: space-around;
}

#deets{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}