body {
display: flex;
justify-content: center;
justify-items: center;
 height: 100%;
 width: 100%;
 background-image: url(https://i.redd.it/k5es27mzwo011.jpg);
 background-size: 100%;
}
.border{
	border: 3px solid orange;
	flex: 1;
}

.main {
	margin-top: 5%;
	width: 75%;
	height: 75%;
	position: absolute;
	display: flex;
	
}

.center{
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

#startFight{
	padding: 40px;
	background-color: greenyellow;
	font-size: 30px;
}